<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<body bgcolor = "818589">

	<title>{{ site.title | escape }}</title>

	<!-- 
	<link rel="icon" type="image/png" href="./img/favicon.png">
	-->

	<!--  WebFonts  -->
	<link href="./css/css" rel="stylesheet" type="text/css">

	<!-- Twitter Bootstrap CSS -->
	<!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	-->
	
	<!-- Core StyleSheet -->
	<link rel="stylesheet" type="text/css" href="./css/main_style.css">
	<!--
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-override.css">
	-->
</head>
