<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" async="" src="./js/jquery.githubRepoWidget.custom.js"></script>

{% if site.blogfeed %}
	<script  type="text/javascript">
	(function() {
		
		$.get("{{site.blogfeed}}", function (data) {
			$(data).find("entry").each(function () { // or "item" or whatever suits your feed
        			var el = $(this);
        			console.log("------------------------");
        			console.log("title      : " + el.find("link").text());
        			console.log("author     : " + el.find("title").text());
    			});
		});
		
		
		$.ajax({
			url      : 'http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent("{{site.blogfeed}}"),
			dataType : 'json',
			success  : function (data) {
				if (data.responseData.feed && data.responseData.feed.entries) {
					$.each(data.responseData.feed.entries, function (i, e) {
						$('#blogArticles').append("<a target='_blank' href='" + e.link + "'>" + e.title + "</a><br><br>")
					});
				}
			}
		});
	})();
	</script>
{% endif %}
