<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" async="" src="./js/jquery.githubRepoWidget.custom.js"></script>

{% if site.blogfeed %}
	<script  type="text/javascript">
	(function() {
		
		$.get("{{site.blogfeed}}", function (data) {
			$(data).find("entry").each(function () { // or "item" or whatever suits your feed
        			var el = $(this);
        			console.log("------------------------");
        			console.log("title      : " + el.find("link").text());
        			console.log("author     : " + el.find("title").text());
    			});
		});
	})();
	</script>
{% endif %}
