<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Senior Developer with several years of experience  and proven track record of success in building and shipping complex custom-made software solutions.
With an extensive experience building software solutions from the ground working with Java technologies like J2EE, Camel, Mule, Spring, Struts, Hibernate, Web Services, SOAP, Rest and Git among others for banks, governments and large corporations. <br/><br/>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>
