{% if site.apps %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Mobile Portfolio</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th><a style="cursor: pointer;">App Name</a></th>
							<th><a style="cursor: pointer;">Platform</a></th>
							<th><a style="cursor: pointer;">Link</a></th>
							<th><a style="cursor: pointer;">Description</a></th>
						</tr>
					</thead>
					<tbody>
						{% for app in site.apps %}
							<tr>
								<td>{{app.name}}</td>
								<td>{{app.platform}}</td>
								<td><a target='_blank' href="{{app.url}}">App store</a></td>
								<td>{{app.description}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<br>
		</div>
	</div>
{% endif %}
