<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Educational History</h1>
	</div>
	<div class="content-rounded-panel">
		<div>
			<style>
				tr:nth-child(even) {
    					background-color: #dddddd;
				}
			</style>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr style="background-color:#dddddd;">
						<th><a style="cursor: pointer;">Title</a></th>
						<th><a style="cursor: pointer;">Start Date</a></th>
						<th><a style="cursor: pointer;">End Date</a></th>
						<th><a style="cursor: pointer;">Institute</a></th>
						<th class="hidden-sm hidden-xs" ><a style="cursor: pointer;">Research</a></th>
						
					</tr>
				</thead>
				<tbody>
					{% for role in site.roles %}
						<tr>
							<td>{{role.title}}</td>
							<td>{{role.start}}</td>
							<td>{{role.end}}</td>
							<td>{{role.employer}}</td>
							<td class="hidden-sm hidden-xs" >{{role.description}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<br>
	</div>
</div>
