<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
		   I'm a Test Automation and Quality Assurance Engineer at Betsol. I specialize in creating software test automation solutions for a variety of web and native applications (IOS, Android, Windows), using open source tools and frameworks (e.g. selenium, appium, mocha, phantomJS). I have solid experience in a few mainstream programming languages... Java, Javascript, Python (not so mainstream, but cool IMHO) but I am a fast learner who thinks about the big picture. 
		   I'm also well versed in the CI/CD process ( github/bitbucket, jenkins) with respect to Enterprise and Cloud (Azure/AWS) hosted infrastructures. I'm currently learning how to build and test ReactJS/Native apps on the node platform. I am an avid promoter of innovation and best practices in the software engineering and testing field. I am a tech guy from Bangalore, India, interested in all technology, not just code.
		   I like to spend my time thinking about and working on interesting ideas, meeting interesting people and contributing to projects I care about.			
		</div>
		<br>
	</div>
</div>
